/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';

@import './utils/vars';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/hidden';

@import './base/common';
@import './base/reset';

@import './components/container';

@import './layout/hero-header';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-reviews';
@import './layout/contacts';
@import './layout/footer';
