@mixin font($f-w: 500, $f-s: 14px, $l-h: 1.76, $l-s: 0.04em) {
  font-weight: $f-w;
  font-size: $f-s;
  line-height: $l-h;
  letter-spacing: $l-s;
}

@mixin centrAbsolut() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin button__arrow--type-one($p-l, $p-r, $m-l: 13px) {
  padding-left: $p-l;
  padding-right: $p-r;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-one);
  background-color: var(--button-bg-one);
  > svg {
    margin-left: $m-l;
  }
  &:hover,
  &:focus {
    background-color: var(--button-accent-bg-one);
  }
}

@mixin button__arrow--type-two($p-l, $p-r, $m-l: 13px) {
  padding-left: $p-l;
  padding-right: $p-r;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-two);
  background-color: var(--button-bg-two);
  > svg {
    margin-left: $m-l;
  }
  &:hover,
  &:focus {
    background-color: var(--button-accent-bg-two);
  }
}