<section class="advantage__section">
  <div class="container">
    <h2 class="visually-hidden">advatages</h2>

    <ul class="advantages__list list">

      <li class="advantages__list-item">
        <div class="advantages-thumb advantages-icon1">
          <p class="advantages__title animate__animated animate__wobble wow">721</p>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="advantages__list-item">
        <div class="advantages-thumb advantages-icon2">
          <p class="advantages__title animate__animated animate__wobble wow">16kg</p>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="advantages__list-item">
        <div class="advantages-thumb advantages-icon3">
          <p class="advantages__title animate__animated animate__wobble wow">84</p>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>

      </li>
    </ul>
  </div>
</section>
