<section class="advatages">
  <div class="container padding">
    <h2 class="visually-hidden" hidden>advatages</h2>
    <ul class="advantages__list list">
      <li class="advantages__list-item advantages__icon1">
        <h3 class="advantages__title">721</h3>
        <p class="advantages__after-title">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item advantages__icon2">
        <h3 class="advantages__title">16kg</h3>
        <p class="advantages__after-title">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item advantages__icon3">
        <h3 class="advantages__title">84</h3>
        <p class="advantages__after-title">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <h1>ahfjdngfdhnljgfnhlkdfnskjc</h1>
    </ul>
  </div>
</section>
