<section class="gallery">
  <div class="container section-gallery">
    <h2 class="visually-hidden"></h2>
    <picture>
      <source
        srcset="
          ./images/gallery/home-pic5-desktop.jpg    1x,
          ./images/gallery/home-pic5-desktop@2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/gallery/home-pic5-tablet.jpg    1x,
          ./images/gallery/home-pic5-tablet@2x.jpg 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./images/gallery/home-pic5-mobile.jpg    1x,
          ./images/gallery/home-pic5-mobile@2x.jpg 2x
        "
        media="(max-width:767px)"
      />

      <img src="./images/gallery/home-pic5-desktop.jpg" alt="Icecreame" width="1280" height="430" />
    </picture>
  </div>
</section>
