<section class="gallery">
  <div class="container section-gallery">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery-img">
      <picture>
        <source
          srcset="./images/gallery/gallery-des-x1.png 1x, ./images/gallery/gallery-des-x2.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/gallery/gallery-tab-x1.png 1x, ./images/gallery/gallery-tab-x2.png 2x"
          media="(min-width:768px)"
        />

        <source
          srcset="./images/gallery/gallery-mob-x1.png 1x, ./images/gallery/gallery-mob-x2.png 2x"
          media="(max-width:767px)"
        />

        <img src="./images/gallery/gallery-des-x1.png" alt="Icecreame" width="1280" height="430" />
      </picture>
    </div>
  </div>
</section>
