<!-- HEADER SECTION -->
<header class="header">
    <div class="container header-container ">
        <div class="header-logo-container"> <a class="header-logo" href=""><img
                    class="header-logo-img" src="./images/header/logo.png"
                    alt="logo"></a>
        </div>
        <nav class="header-navigation">
            <ul class="header-list list">
                <li class="header-list__item"> <a href="#" class="header-list__link
                        "></a> Home
                </li>
                <li class="header-list__item"> <a href="#hero" class="header-list__link
                        "></a>
                    About us</li>
                <li class="header-list__item"> <a href="#about" class="header-list__link
                        "></a> How
                    it's made?</li>
                <li class="header-list__item"> <a href="#products" class="header-list__link
                        "></a> Our products</li>
                <li class="header-list__item"> <a href="#contacts" class="header-list__link
                        "></a>
                    Contact</li>
            </ul>
        </nav>
        <button type="button"
            class="menu-toggle menu-toggle_open header__menu-toggle js-open-menu"
            aria-expanded="false" aria-controls="mobile-menu"
            aria-label="Открытие мобильного меню">
            <svg class="menu-toggle__icon" width="20" height="12">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg>
        </button>
        <button type="button" class="buy-btn buy-btn_header">Buy now
            <svg class="buy-btn__icon" width="6" height="10">
                <use href="./images/icons.svg#icon-vector-btn">
                </use>
            </svg>
        </button>


        <div class="mobile-menu menu-conteiner conteiner js-menu-container"
            id="mobile-menu">
            <button type="button"
                class="menu-toggle menu-toggle_close mobile-menu__menu-toggle js-close-menu"
                aria-label="Закрытие мобильного меню">
                <svg class="menu-toggle__icon menu-toggle__icon_close"
                    width="14" height="14">
                    <use href="./images/icons.svg#icon-close">
                    </use>
                </svg>
            </button>
            <button type="button" class="buy-btn buy-btn_mobile-menu">Buy
                now<svg class="buy-btn__icon" width="6" height="10">
                    <use href="./images/icons.svg#icon-vector-btn">
                    </use>
                </svg>
            </button>
            <ul class="mob-list mobile-menu__mob-list list">
                <li class="mob-list__item">
                    <a href="#" class="mob-list__link link">Home</a>
                </li>
                <li class="mob-list__item">
                    <a href="#hero" class="mob-list__link link">About us</a>
                </li>
                <li class="mob-list__item">
                    <a href="#about" class="mob-list__link link">How it's
                        made?</a>
                </li>
                <li class="mob-list__item">
                    <a href="#products" class="mob-list__link link">Our
                        products</a>
                </li>
                <li class="mob-list__item">
                    <a href="#contacts" class="mob-list__link link">Contact</a>
                </li>
            </ul>
        </div>
</header>

