<!--------------------HERO SECTION----------------->
<section class="hero hero-content">
    <div class="container hero__container">
        <div class="hero__ellipse"></div>
        <h1 class="hero__main-title">ice cream made with <span class="hero__secondary-title">passion</span></h1>
        <button class="hero__btn" type="button"><a href="#Products">Products</a></button>
        <button class="hero__btn" type="button"><a href="#How it’s made?">How it’s made?</a></button>
        <picture>
            <source srcset="./images/hero/hero-milk-desk-1x.jpg 1x, ./images/hero/hero-milk-desk-2x.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero/hero-milk-tab-1x.jpg 1x, ./images/hero/hero-milk-tab-2x.jpg 2x" media="(min-width: 768px)" />
            <img class="hero__img" src="./images/hero/hero-milk-desk-1x.jpg" alt="milk" />
        </picture>
        <p class="hero__after-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <picture>
            <source srcset="./images/hero/hero-icecream-desk-1x.jpg 1x, ./images/hero/hero-icecream-desk-2x.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero/hero-icecream-tab-1x.jpg 1x, ./images/hero/hero-icecream-tab-2x.jpg 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/hero/hero-icecream-mob-1x.jpg 1x, ./images/hero/hero-icecream-mob-2x.jpg 2x"
                media="(min-width: 320px)" />
            <img class="hero__img" src="./images/hero/hero-icecream-desk-1x.jpg" alt="ice-cream" />
        </picture>
       
</section>