<!--------------------HERO SECTION----------------->
<section class="hero-content">
    <div class="container hero__container">
        <div class="hero__ellipse"></div>
        <picture>
            <source srcset="./images/hero/hero-icecream-desk-1x.png 1x, ./images/hero/hero-icecream-desk-2x.png 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero/hero-icecream-tab-1x.png 1x, ./images/hero/hero-icecream-tab-2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/hero/hero-icecream-mob-1x.png 1x, ./images/hero/hero-icecream-mob-2x.png 2x"
                media="(min-width: 320px)" />
            <img class="hero__img-icecream" src="./images/hero/hero-icecream-desk-1x.png" alt="ice-cream" />
        </picture>
        <h1 class="hero__main-title">ice cream <span class="hero__medium-title">made with</span> <span
                class="hero__secondary-title">passion</span></h1>
        <ul class="list button-list">
            <li class="button-list__item"><button class="hero__btn hero__btn-left" type="button"><a class="link"
                        href="#Products"></a>Products</button></li>
            <li class="button-list__item"><button class="hero__btn hero__btn-right" type="button"><a class="link"
                        href="#How it’s made?"></a>How it’s made?</button></li>
        </ul>
        <div class="hero__left-content">
            <picture>
                <source srcset="./images/hero/hero-milk-desk-1x.png 1x, ./images/hero/hero-milk-desk-2x.png 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./images/hero/hero-milk-tab-1x.png 1x, ./images/hero/hero-milk-tab-2x.png 2x"
                    media="(min-width: 768px)" />
                <img class="hero__img-milk" src="./images/hero/hero-milk-desk-1x.png" alt="milk" />
            </picture>
            <p class="hero__after-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button class="hero__btn-arrow" type="button"> <a class="link" href="#How it’s made?">
                <picture class="hero__btn-img">
                    <source srcset="./images/hero/hero-arrow-right-desk-1x-min.png 1x, ./images/hero/hero-arrow-right-desk-2x-min.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/hero/hero-arrow-right-tab-1x-min.png 1x, ./images/hero/hero-arrow-right-tab-2x-min.png 2x"
                        media="(min-width: 768px)" />
                    <img class="hero__img" src="./images/hero/hero-arrow-right-desk-1x-min.png" alt="arrow-right" />
                </picture>
            </button>
        </div>
        <div class="right-content">
            <div class="right-content__cafes">
                <div class="right-content__ellipse"></div>
                <p class="right-content__number--cafes">16</p>
                <p class="right-content__text--cafes">cafes</p>
            </div>
            <div class="right-content__trucks">
                <div class="right-content__ellipse"></div>
                <p class="right-content__number--trucks">23</p>
                <p class="right-content__text--trucks">food trucks</p>
            </div>
            <div class="right-content__img--tasty">
                <picture class="hero__img-tasty">
                    <source srcset="./images/hero/hero-tasty-desk-1x.png 1x, ./images/hero/hero-tasty-desk-2x.png 2x"
                            media="(min-width: 1280px)" />
                    <source srcset="./images/hero/hero-tasty-tab-1x.png 1x, ./images/hero/hero-tasty-tab-2x.png 2x"
                            media="(min-width: 768px)" />
                    <img class="hero__img" src="./images/hero/hero-tasty-desk-1x.png" alt="tasty" />
                </picture>
            </div>
        </div>
    </div>    
</section>