<section class="products" id="products">
    <div class="container">
        <div class="name">
            <p class="name__lable">100% natural</p>
            <H2 class="name__title">products</H2>
        </div>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__card">

                    <h3 class="products__title">ice cream</h3>
                    <p class="products__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                    </p>
                        
                    <button class="products__btn visible" type="button" id="products-info-open"></button>
                </div>
                <div class="products__info products__info--ishidden " id="products-info" >
                    
                    <p class="products__info--text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit saepe facere ea, tempora nesciunt et!
                    </p>
                    <p class="products__info--text">
                        price 8$
                    </p>
                    <button type="button" class="products__info--btn hidden" id="products-info-close"></button>
                    
                </div>
            </li>
            <li class="products__item">
                <div class="products__card">
                    <h3 class="products__title">ice coffee</h3>
                    <p class="products__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                    </p>
                    <button class="products__btn" type="button" id="cream-info-open"></button>
                </div>
                <div class="products__info cream__info--ishidden" id="cream-info">
                    
                    <p class="products__info--text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit saepe facere ea, tempora nesciunt et!
                    </p>
                    <p class="products__info--text">
                        price 12$
                    </p>
                    <button type="button" id="cream-info-close" class="products__info--btn"></button>
                
                </div>
            </li>
            <li class="products__item">
                <div class="products__card">
                    <h3 class="products__title">milkshakes</h3>
                    <p class="products__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                    </p>
                    <button class="products__btn" type="button" id="milk-info-open"></button>
                </div>
                <div class="products__info milk__info--ishidden" id="milk-info">
                    
                    <p class="products__info--text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit saepe facere ea, tempora nesciunt et!
                    </p>
                    <p class="products__info--text">
                        price 10$
                    </p>
                    <button type="button" id="milk-info-close" class="products__info--btn"></button>
                
                </div>
            </li>
        </ul>
    </div>
    
</section>