.about {
  background-color: var(--basic-bg-color);
  padding-top: 125px;
}

.about__subtitle {
  font-family: 'Titan One', cursive;
  @include font(400, 26px, 1.14, null);
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color);

  margin-bottom: 16px;
}

.about__title {
  font-family: 'Titan One', cursive;
  @include font(400, 48px, 1.15);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}
.about-description__img-box {
  margin-bottom: 46px;
}
.about-description__content-box {
  padding: 0 30px;
}
.about-description__main text {
  @include font(12px, 1.62);
  color: var(--title-text-color);
  margin-bottom: 29px;
}
.about__button {
  @include button__arrow--type-one(37px, 38px, 14px);
  @include font();
}
