.padding {
  padding-bottom: 60px;
}
.advatages {
  background: #fff5f6;
}
.advantages__list {
  @media (min-width: 768px) {
    display: flex;
  }
}
.advantages__list-item:not(:first-child) {
  @media (min-width: 768px) {
    margin-left: 60px;
  }
  @media (min-width: 1280px) {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .advantages__list-item:not(:last-child) {
    margin-bottom: 38px;
  }
}

.advantages__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
    text-transform: none;
  }

  @media (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}

.advantages__icon1::before {
  content: '';
  display: inline-block;
  background-image: url('../images/advantages/icon1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon1@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url('../images/advantages/icon1@3x.png');
  }
}
.advantages__icon2::before {
  content: '';
  display: inline-block;
  background-image: url('../images/advantages/icon2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon2@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url('../images/advantages/icon2@3x.png');
  }
}
.advantages__icon3::before {
  content: '';
  display: inline-block;
  background-image: url('../images/advantages/icon3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon3@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url('../images/advantages/icon3@3x.png');
  }
}

.advantages__after-title {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
