.contacts__item {
  @include font($f-s: 12px, $l-h: 1.83);
  background: var(--second-bg-color);
  height: 427px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 21px 43px 20px;
  &:nth-child(2n) .contacts__item-title {
    background-color: #c2e297;
  }
}

.contacts__item-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  padding: 0px 24px;
  background: #f0d1a5;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 22px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__header-list li:first-child {
  margin-bottom: 10px;
}

.contacts__item--black {
  color: var(--title-text-color);
}

.contacts__item--pink {
  color: var(--accent-text-color);
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts__header-item--grey {
  @include font($f-s: 12px, $l-h: 1.5);
}

.contacts__header-list::after {
  content: '';
  display: block;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts__body-list::after {
  content: '';
  display: block;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts__footer-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts__buttons-item {
  list-style: none;
}

.contacts__btn {
  border-radius: 22px;
  height: 44px;
}

.dark-button {
  background-color: var(--accent-color);
}
