.customer-reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;

  padding-top: 80px;
  padding-bottom: 170px;

  text-align: center;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.slider {
  position: relative;
  min-width: 0;
  margin: 0 auto;
}

.slider__item {
  text-align: center;
}

.slider__item.slick-center {
  display: flex;
  text-align: center;
  justify-content: center;
  // align-items: center;
}

.slider__img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 72px;
  width: 85px;
  height: 85px;
}

.slidet__tumb--bg {
  background-color: #fafafa;
  margin-bottom: 72px;
  text-align: center;
  padding: 43px 50px 20px;
}

.slider__tumb--gradient {
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 7px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 28px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
}

.slider__text {
  @include font(500, 12px, 2.56, null);
  color: var(--title-text-color);
}

.slider__title {
  margin-bottom: 30px;

  text-align: center;
  @include font(500, 14px, 1.86, null);
  color: var(--title-text-color);
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background: url('../images/customer-reviews/active-page.png') 0 0 / 100% no-repeat;
  border-radius: 0;
}
