.footer-container {
  background-color: var(--basic-bg-color);
  padding-top: 113px;
  @include tab {
    padding-top: 158px;
  }
  @include desk {
    padding-top: 165px;
  }
}

.footer-top {
  @include tab {
    display: flex;
  }
}
.footer-header {
  width: 234px;
  margin-bottom: 43px;
  @include tab {
    width: 340px;
    margin-bottom: 91px;
  }
  @include desk {
    width: 478px;
    margin-bottom: 97px;
  }
}
.footer-header__subtitle {
  color: var(--accent-text-color);
  text-align: left;
  margin-bottom: 17px;

  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.16;
  // text-align: center;
  text-transform: uppercase;

  @include tab {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    margin-bottom: 16px;
  }

  @include desk {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.footer-header__title {
  color: var(--accent-color);
  text-align: left;

  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.14;
  // text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tab {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  @include desk {
    font-size: 58px;
    line-height: 1.13;
  }
}

.footer-bottom {
  margin-left: auto;
}
.footer-social {
  margin-bottom: 46px;
}
.footer-social__list {
  display: flex;
  justify-content: right;
}
.footer-social__item {
  width: 32px;
  height: 32px;
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-text-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-contact {
  margin-bottom: 43px;
  @include tab {
    margin-bottom: 0;
    margin-left: auto;
  }
}
.footer-contact__text {
  @include font(700, 12px, 1.86, null);
  text-align: right;
  color: var(--title-text-color);
  @include tab {
    font-size: 14px;
  }
  @include desk {
    font-size: 16px;
  }
}
.footer-contact__tel {
  text-decoration: none;
  color: var(--accent-color);
}
.footer-copyright {
  display: block;
  background-color: var(--basic-bg-colo);
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  @include tab {
    letter-spacing: 0.02em;

    padding-top: 29px;
    padding-bottom: 18px;
  }
  @include desk {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer-copyright__text {
  width: 150px;
  margin: 0 auto;
  @include font(700, 14px, 1.52, null);
  text-align: center;
  color: var(--primary-text-colo);
  @include tab {
    width: 276px;
    letter-spacing: 0.02em;
  }
}
