// Styles for close-button and send button comes from
// modal.scss

.modal-franchise {
  width: 90vw;
  background-color: var(--basic-bg-color);
  border-radius: 10px;
  box-shadow: 4px 4px 3px 6px rgb(0 0 0 / 25%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
  padding: 40px;
  z-index: 1099;
  @include tel {
    max-width: calc(480px * 0.9);
  }
  @include tab {
    max-width: calc(768px * 0.9);
  }
  @include desk {
    max-width: calc(1280px * 0.9);
  }
}
.modal-franchise__pre-title {
  font-family: 'Titan One', cursive;
  @include font(400, 34px, 1.15, 0.04em);
  text-transform: uppercase;
  text-align: center;
  color: var(--burger-bg-color);
  margin-bottom: 6px;
  @include tab {
    margin-bottom: 20px;
    @include font(400, 48px, 1.15, null);
  }
  @include desk {
    margin-bottom: 25px;
    @include font(400, 58px, 1.14, 0.06em);
  }
}
.modal-franchise__title {
  color: var(--accent-color);
}
.modal-franchise-box__text {
  font-family: 'Titan One', cursive;
  text-align: center;
  @include font(null, 12px, 1.62, null);
  color: var(--hero-bg-color);
  margin-bottom: 18px;
  @include tab {
    @include font(null, 14px, 1.76, null);
  }
  @include desk {
    margin-bottom: 20px;
    @include font(null, 16px, 1.76, 0.04em);
  }
}
.form__btn-send--franchise {
  display: block;
  margin: 0 auto;
}
