.hero__main-title {
  font-family: 'Titan One', sans-serif;
  @include font(26px, 1.15);
  text-transform: uppercase;
  color: var(--second-bg-color);
}
.hero__secondary-title {
  @include font(48px, 0.96);
  color: var(--accent-color);
}
